.add-trip form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-trip form input,textarea{
    width: 40%;
    margin-bottom: 15px;
    padding: 5px 0px;
    background-color: rgb(255, 153, 0);
    border-radius: 10px;
}